# App base
streamlit==1.39.0

# PDFs / OCR (sem conflitos com Py 3.12)
pdfplumber==0.11.4
pytesseract==0.3.13
tesseract
pymupdf==1.24.10
Pillow==10.2.0          # (<11 e com wheel para Py3.12)
opencv-python-headless==4.10.0.84
requests==2.32.3

# Excel / Data
openpyxl==3.1.5
pandas==2.2.3
numpy==1.26.4

# Utilitários
python-dotenv==1.0.1
tqdm==4.66.4
